<link rel="stylesheet" href="/src/style/bootstrap.css">
<link rel="stylesheet" href="/src/style/style.css">
<link rel="stylesheet" href="/src/style/flatty.css">
<script type="text/javascript" src="/src/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/src/js/humane.min.js"></script>
<script type="text/javascript" src="/src/js/bootstrap.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>
<script type="text/javascript" src="/src/js/selectize.js"></script>
<link href="/src/style/font-awesome.css" rel="stylesheet">
<link href="/src/style/selectize.bootstrap3.css" rel="stylesheet">
